# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/.rpt2_cache
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea/*
!/.idea/watcherTasks.xml
!/.idea/scopes
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/coverage
npm-debug.log
yarn-error.log
*.bak

# System Files
.DS_Store
Thumbs.db
